.container {
    width: 900px;
    margin: 0px auto 0px auto;
}

.page-header {
    width: 870px;
    background-color: #6699CC;
    margin: 10px auto 20px auto;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    width:870px;
    background-color: #C4DDF4;
    margin-top: -10px;
    margin-bottom: 50px;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    text-color: grey;
    float: right;
    /*font-size: 26pt;*/
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.footer {
    background-color: #6699CC;
    margin-top: 10px;
    padding: 20px 20px 20px 40px;
}

.footer p {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    text-align: center;
}